@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
font-family : Inter, sans-serif;
background-color: hsl(0, 0%, 8%);
min-height: 100vh;
display:grid;
place-content: center;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
.main{
    background-color: hsl(0, 0%, 12%);
    max-width: 400px;
    padding:2rem;
    color:hsl(0, 0%, 100%);
    text-align: center;
    border-radius: 12px;
    margin-bottom:16px;
    
}
img{
    border-radius: 50%;
    width:75px;
    margin: 0.75em;
}
h1{
    font-size: 28px;
    font-weight: 700;
}
.location{
    color:hsl(75, 94%, 57%);
    margin: 0.5rem  0 1.5rem;
    font-weight: 700;
}
ul{
    margin-top: 10px;
}
ul li:not(:last-child){
    margin-bottom:10px;
}
ul li a{
    display: block;
    background-color: hsl(0, 0%, 20%);
    color:hsl(0, 0%, 100%);
    padding: 15px;
    font-weight:600;
    border-radius: 12px;
}
ul li a:hover{
    color:hsl(0, 0%, 12%);
    background-color: hsl(75, 94%, 57%);
}